@import './../helper/colors.scss';
@import './../helper/fonts.scss';
@import './../helper/mixin.scss';
.box{
    padding: 0;
    width: 70%;
    margin-left: 11%;
    border: 21px solid $border;
    text-align: center;
    background-color: $mainColor;
    position: relative;
    margin-top: -400px;
    @media(max-width:600px){
      margin-top: -200px;
    }
   
    hgroup{
        width: 80%;
        margin-left: 10%;
        span{
          display: flex;
          flex-direction: row;
          justify-content: center;
      
          text-align: center;

            input{
              border: none;
              background-color: $mainColor;
              color: $praph;
              font-size: 90px;
              text-align: center;
              @media(max-width:600px){
              font-size: 30px;
              }
             
            }
          
        }

        h1{
            color: $lightGreen;
            font-size: 96px;
            text-transform: uppercase;
            @include Limelight;
            @media(max-width:600px){
              font-size: 30px;
            }
        }
        p{
            @include LindenHill(normal);
            color: $lightGreen;
            font-size: 32px;
            @media(max-width:600px){
              font-size: 15px;
            }
        }    
    }
    .circle {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #333;
        border-radius: 50%;
      }
      .topLeft {
        top: 10px;
        left: 10px;
        background-color: $lightGreen;
      }
      
      .topRight {
        top: 10px;
        right: 10px;
        background-color: $lightGreen;
      }
      
      .bottomLeft {
        bottom: 10px;
        left: 10px;
        background-color: $lightGreen;
      }
      
      .bottomRight {
        bottom: 10px;
        right: 10px;
        background-color: $lightGreen;
      }
    
}


.LightMode {
  color: black;
}
.DarkMode {
color: white;
}