@import './../helper/colors.scss';
@import './../helper/fonts.scss';
@import './../helper/mixin.scss';
  .timeline {
    position: relative;
    width: 4px;
    background-color: $lightGreen;
    height:  100%;
    margin: 0 auto;
    .circled {
        position: absolute;
        left: calc(50% - 12px);
        margin-left: -4px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $lightGreen;
        background-color: $lightGreen;
        z-index: 1;

    }
  }
  
  .timelineEvent {
    position: relative;
    margin: 50px 0;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;

      p{
        @include LindenHill(normal);
        line-height: 32.35px;

      }
      a {
        color: #d2c49d;
        text-decoration: none;
        font-weight: bold;
        span {
            margin-left: 5px;
          }
      }
      .circle {
        margin-top: 60px;
      }
  }
  
  .timelineEvent.left {
    position: relative;
    margin-left: 0;
    text-align: right;
    padding-right: 20px;
    margin-top: 100px;
    .timeline-content {
        padding: 15px;
        border-radius: 5px;
        width: 300px;
        color: white;
        margin-left: -360px;
       
        h3 {
            margin: 0px 0 10px;
            position: absolute;
            margin-left: 210px;
            top: 63px;
            @include LindenHill(italic);
          }
          p{
            position: absolute;
            top: 80px;
            right: 160px;
            width: 300px;
            @include LindenHill(normal);
      
          }
          a{
            position: absolute;
            top: 200px;
            right: 160px;
            width: 200px;
          }
      }
      .circle {
        position: absolute;
        top: 50%;
        
        
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid $lightGreen;
        background-color: $mainColor;
        z-index: 1;
        margin-left: 313px;
        hr{
            margin-left: -103px;
            width: 100px;
            background-color: $lightGreen;
        }
      }
  }
  
  .timelineEvent.right {
    position: relative;
    margin-left: 50%;
    text-align: left;
    padding-left: 20px;
    margin-top: 100px;

    .timeline-content {
        padding: 15px;
        border-radius: 5px;
        width: 300px;
        color: white;
     
        h3 {
            margin: 0 0 10px;
            position: absolute;
            width: 100px;
            top: 60px;
            @include LindenHill(italic);
          }
          p{
            position: absolute;
            top: 90px;
            width: 300px;
            padding-left: 90px;
            @include LindenHill(normal);
          }
          a{
            position: absolute;
            width: 200px;
            padding-left: 90px;
            top: 210px;
          }
      }
      .circle {
        position: absolute;
        top: 50%;
        left: calc(50% - 12px);
        margin-left: -20px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid $lightGreen;
        background-color: $mainColor;
        z-index: 1;
        hr{
            width: 100px;
            margin-left: 23px;
            background-color: $lightGreen;
        }
      }
  }
  
  .Lamp{
    position: relative;
    left: 93%;
    top: 180px;
    cursor: pointer;
    
  }


  /* Light mode styles */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

/* Common styles for both modes */
.app-header {
  padding: 20px;
  text-align: center;
}

.LightMode {
    color: black;
}
.DarkMode {
  color: white;
}